.App {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll; /* Allows vertical scrolling */
    scroll-snap-type: y mandatory; /* This makes the container snap along the y-axis */
}

.App > * {
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start; /* This will ensure that the children snap at the start of the container */
}

